.intro-video-wrapper {
  margin-top: 11.5em;
  display: flex;
  align-items: center;
  gap: 1.5em;

  .sec-heading {
    font-size: 100px;
    font-weight: 600;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    .highlight-me {
      font-size: 120px;
      white-space: nowrap;
      color: $primaryLiteBlue;
    }
  }
  .react-player {
    height: 400px;
    width: 100%;
  }
}
@media screen and (max-width: 1284.5px) {
  .intro-video-wrapper {
    margin-top: 80px;
  }
}
@media screen and (max-width: 855px) {
  .intro-video-wrapper {
    flex-direction: column;
    .sec-heading {
      flex-direction: row;
      column-gap: 10px;
      font-size: 40px;
      .highlight-me {
        font-size: 40px;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .intro-video-wrapper {
    gap: 15px;
    .sec-heading {
      column-gap: 5px;
      font-size: 30px;
      .highlight-me {
        font-size: 30px;
      }
    }
    .react-player {
      height: 200px !important;
    }
  }
}

@media screen and (max-width: 480px) {
  .intro-video-wrapper {
    width: 440px !important;
  }
}

@media screen and (max-width: 470px) {
  .intro-video-wrapper {
    width: 430px !important;
  }
}

@media screen and (max-width: 461px) {
  .intro-video-wrapper {
    width: 420px !important;
  }
}

@media screen and (max-width: 449px) {
  .intro-video-wrapper {
    width: 410px !important;
  }
}

@media screen and (max-width: 439px) {
  .intro-video-wrapper {
    width: 400px !important;
  }
}

@media screen and (max-width: 431px) {
  .intro-video-wrapper {
    width: 390px !important;
  }
}

@media screen and (max-width: 419px) {
  .intro-video-wrapper {
    width: 380px !important;
  }
}

@media screen and (max-width: 411px) {
  .intro-video-wrapper {
    width: 370px !important;
  }
}

@media screen and (max-width: 398px) {
  .intro-video-wrapper {
    width: 360px !important;
  }
}

@media screen and (max-width: 388px) {
  .intro-video-wrapper {
    width: 350px !important;
  }
}

@media screen and (max-width: 380px) {
  .intro-video-wrapper {
    width: 340px !important;
  }
}

@media screen and (max-width: 380px) {
  .intro-video-wrapper {
    width: 330px !important;
  }
}

@media screen and (max-width: 360px) {
  .intro-video-wrapper {
    width: 320px !important;
  }
}

@media screen and (max-width: 350px) {
  .intro-video-wrapper {
    width: 310px !important;
  }
}

@media screen and (max-width: 340px) {
  .intro-video-wrapper {
    width: 300px !important;
  }
}
