.message-form {
  background-color: #fff;
  position: absolute;
  top: 0;
  //   bottom: -10.7em;
  z-index: 999;
  right: 15px;
  font-family: Roboto;
  box-shadow: 3px 3px 15px rgba(57, 57, 57, 0.247);
  padding: 3.5em 2.5em;
  width: 420px;
  .input-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    .form-head {
      font-size: 20px;
    }
    .input-field {
      border: 1px solid $primaryLiteBlue;
      padding: 10px;
      width: 100%;
      font-size: 14px;
    }
    .textarea {
      font-family: Roboto;
      height: 89%;
      margin-top: 5px;
      width: 100%;
      max-width: 100%;
      border: 1px solid $primaryLiteBlue;
      padding: 6px 9px;
      // font-size: 13px;
    }
    .submit-btn {
      background: $primaryLiteBlue;
      width: 100%;
      padding: 10px 35px;
      border-radius: 0;
      gap: 10px;
      font-size: 15px;
      font-weight: 500;
      line-height: 19px;
      text-align: left;
      color: #fff;
      align-self: center;
    }
  }
}
@media screen and (max-width: 1284.5px) {
  .message-form {
    width: 420px;
    min-width: 420px;
    position: static;
  }
}

@media screen and (max-width: 550px) {
  .message-form {
    padding: 2.5em 1.5em;
  }
}

@media screen and (max-width: 443px) {
  .message-form {
    width: 100%;
    min-width: 100%;
  }
}
