.notice-board {
  position: absolute;
  top: -5em;
  //   bottom: 0;

  right: 0;
  z-index: 1;
  height: 220px;
  // width: 100%;
  width: 1010px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 9em;
  //
  background: linear-gradient(
    90deg,
    rgb(255, 237, 45) 0%,
    rgb(255, 236, 89) 56%,
    rgb(255, 239, 156) 96%
  );
  .notice-text {
    // background-color: red;
    font-style: italic;
    font-size: 17px;
    line-height: 27px;
    // width: 80%;
    // height: 80%;
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 4; /* number of lines to show */
    // line-clamp: 4;
    // -webkit-box-orient: vertical;
  }
}
@media screen and (max-width: 1284.5px) {
  .notice-board {
    display: none;
    // position: static;
    // height: max-content;
    // width: 100%;
    // // width: 100vw;
    // // top: 0em;
    // // position: block;
    // // display: block;
    // // top: 0;
    // // left: 0vw;
    // // left: -15px;
    // // right: -15px;
    // // top: 0;
    // padding: 3em 15px;
    // z-index: 0;
    //
    // .notice-text {
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 12; /* number of lines to show */
    // line-clamp: 12;
    // -webkit-box-orient: vertical;
    // }
    //
    // .notice-text {
    //   margin: 1em 0;
    // }
    // margin: 0 -15px;
    // margin-left: -15px;
    // left: 0;
    // right: 0;
  }
}
