@import "./courseCarousel";

.courses {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 80px;
  font-family: Roboto;

  .in-wrapper {
    .h-course {
      width: 100%;
      display: grid;
      grid-template-columns: 4fr 1fr;
      .heading {
        // font-size: 35px;
        // font-weight: 600;
        // font-family: "Playfair Display", serif;

        text-transform: capitalize;
        color: $primaryNewBlue;
        font-weight: 600;
        font-size: 30px;
        // text-align: center;
        position: relative;
        font-family: Roboto;
        margin-bottom: 10px;

        &:after {
          position: absolute;
          content: "";
          height: 3px;
          width: 55px;
          background-color: $primaryAccentBlue;
          left: 3px;
          // transform: translate(-50%);
          bottom: -2px;
          border-radius: 3px;
        }
      }
      .course-desc {
        align-items: center;
        color: $primaryLiteGrey;
        font-family: Roboto;
        font-size: 13px;
      }
      @media screen and (max-width: 550px) {
        .heading {
          font-size: 30px;
        }
        .course-desc {
          padding-bottom: 10px;
        }
      }
    }
    @media screen and (max-width: 600px) {
      .h-course {
        grid-template-columns: 2.5fr 1.5fr;
      }
    }
    @media screen and (max-width: 340px) {
      .h-course {
        grid-template-columns: 2fr 1.5fr;
      }
    }
  }
  @media screen and (max-width: 1285px) {
    .in-wrapper {
      width: 100%;
    }
  }
  @media screen and (max-width: 1100px) {
    .in-wrapper {
      .cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  @media screen and (max-width: 700px) {
    .in-wrapper {
      .cards-wrapper {
        grid-template-columns: 1fr;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .courses {
    margin-top: 60px;
  }
}
