.course-card {
  // margin: 0 10px;
  margin-right: 15px;
  // border-radius: 0.5em;
  // padding: 15px;
  font-family: Roboto;
  box-shadow: 3px 3px 10px rgb(228, 227, 227);
  background-color: #fff;
  transition: 0.2s ease-in;
  // &:hover {
  //   margin-top: -1.5em;
  //   margin-bottom: 1.5em;
  // }
  .course-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // border-radius: 0.5em;
    height: 120px;
    width: 100%;
    cursor: pointer;

    // border: 1px solid grey;
  }
  @media screen and (max-width: 800px) {
    .course-img {
      height: 150px;
    }
  }
  .text-wrapper {
    padding: 10px 15px 0.5px;

    cursor: pointer;
    &:hover {
      .desc {
        text-decoration: underline;
      }
    }
    .title {
      font-size: 18px;
      // margin: 20px 0 0 0px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    .desc {
      font-size: 12px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
      color: $primaryLiteGrey;
    }
  }
}
// @media screen and (max-width: 800px) {
//   .course-card {
//     &:hover {
//       margin-top: 0;
//       margin-bottom: 0;
//     }
//   }
// }
