.faq-title {
  margin-top: 120px;
  color: $primaryDarkerBlue;
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 550px) {
  .faq-title {
    margin-bottom: 30px;

    margin-top: 60px;
  }
}
